$primary: #002f6c;
$primary-light: #2166c2;
$secondary: #f0ad4e;
$secondary-light: #ffecd2;

//----------------------------------------------

.footer-wrapper {
    background-color: #1c2133;
    min-height: 300px;
}