.navbar {
    background-color: rgba(235, 228, 228, 0.493);
    ul {
        color: #002F6C;
        display: flex;
        list-style-type: none;
        padding: 5px;
        li {
            margin: auto;
            padding-right: 25px;
            &:hover {
                color: #F0AD4E;
            }
        }
    }
}
