.navbar-wrapper {
    display: flex;
    background-color: #002f6c;
    flex-direction: column;

    ul {
        a {
            flex-direction: row;
            list-style-type: none;
            padding: 5px;
            color: #f0ad4e;
        }
    }
}
