$primary: #002f6c;
$primary-light: #2166c2;
$secondary: #f0ad4e;
$secondary-light: #ffecd2;

//----------------------------------------------

.home-wrapper {
    // display: flex;
    // flex-direction: row;
    // justify-content: flex-end;
    background-color: whitesmoke;
    height: auto;
    position: absolute;

    video {
        height: 100vh;
        width: 100vw;
        margin: 0 auto;
        padding: 0;
        overflow-x: hidden;
        object-fit: cover;
    }
}

// ----------------------------------
//        Media Screen < 1000px
// ----------------------------------
@media only screen and (max-width: 1000px) {
    .nav-right {
        display: none;
    }
    .nav-left img {
        display: block;
        position: relative;
        margin: 0 auto;
        background-color: yellow;
        padding-bottom: 50px;
    }
}
