$primary: #002f6c;
$primary-light: #2166c2;
$secondary: #f0ad4e;
$secondary-light: #ffecd2;

//----------------------------------------------

.clients-wrapper {
    background-color: whitesmoke;
    min-height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        color: $secondary;
        height: auto;
        font-size: 3em;
    }

    .clients {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        img {
            height: 100px;
            padding: 15px;
        }
    }
}

// ----------------------------------
//        Media Screen < 1000px
// ----------------------------------
@media only screen and (max-width: 1000px) {
    .clients-wrapper {
        width: auto;
        
        margin: 15px auto;
        h1 {
            font-size: 2em;
        }
        .clients {
            display: flex-start;
            flex-direction: column;
            align-items: center;
            align-content: center;
            padding: 0;
            margin: 0;
            img {
                height: 75px;
            }
        }
    }
}
