$primary: #002f6c;
$primary-light: #2166c2;
$secondary: #f0ad4e;
$secondary-light: #ffecd2;

//----------------------------------------------

.clients-wrapper {
    background-color: whitesmoke;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 25px;

    h1 {
        color: $secondary;
        height: auto;
        font-size: 3em;
    }

    .clients {
        display: flex;
        flex-direction: row;
         img {
            height: 100px;
            width: auto;
            padding: 15px;
        }
    }
}

// ----------------------------------
//        Media Screen < 1000px
// ----------------------------------
@media only screen and (max-width: 1000px) {
    .clients {
        display: flex;
        flex-direction: column;
    }
}
